.title{
    background-color: rgb(240, 240, 191), ;
    font-size: 70px;
    text-align: center;
}

.menu {
    display: flex;
    justify-content: center; /* Đưa menu vào giữa màn hình */
    gap: 70px;               /* Khoảng cách giữa các chữ */
    font-size: 30px;
}

.menu a {
    background-color: aqua;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
}

